.productivity {
    display: flex;

    &__box {
        justify-content: center;
        border: 1px solid #cbcbcb;
        display: flex;
        width: 60%;
        padding: 3rem 0; 
        margin-top: 4rem;
        
    }

    &__rating {   
        color: #2b5433;

        &:not(:last-child) {
            margin-right: 15rem;
        }
    }

    &__rating-count {
        font-size: 4rem;
        font-weight: 500;
    }

    &__rating-text {
        color: #323232;
        font-size: 1.4rem;
        font-weight: 300;
    }
    

}