.reservation {
    flex: 0 0 45%;
    margin-left: 10rem;
    width: 40%;

    &__step {
    display: flex; 
    margin-top: 5rem;


        &--number {
            font-size: 3rem;
            font-weight: 600;
            color: #575757;
            margin-right: 5rem;
            margin-top: -1rem;   
        } 
    }

    &__btn {
        margin-left: 8rem;  
        margin-top: 3rem;
    }

}

.reservation-image {
    margin-left: auto;
    margin-right: 12rem;

}