body {
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
}

.heading-secondary {
    font-weight: 600;
    font-size: 4rem;
    display: inline-block;
    color: #2B5433;
    //line-height: 6rem;
}

.heading-tertiary {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.7rem;
}

.paragraph {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3.3rem; 
    color: #323232;
}

hr {
    width: 60%;
    border: 1px solid #CBCBCB;
    margin-top: 1.5rem;
}